@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
	padding: 0;
	margin: 0;
	overflow: hidden;
}

* {
	font-family: 'Fira Code', monospace;
}

.full-screen {
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	position: fixed;
}

.center-content {
	display: flex;
	justify-content: center;
	align-items: center;
}

a {
	cursor: pointer;
	text-decoration-line: underline;
}

a:focus {
	outline: 2px solid transparent;
	outline-offset: 2px;
}

a:focus-visible {
	outline: 2px solid currentColor;
	outline-offset: 2px;
}

/*@media (hover: hover) {*/
/*	a:hover {*/
/*		text-decoration-line: underline;*/
/*	}*/
/*}*/

/*a {*/
/*	text-decoration-line: none;*/
/*}*/
