@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	font-family: 'Fira Code', monospace;
}

input {
	/* background-color: white;
	color: black; */
	padding-left: 0.25rem;
	padding-right: 0.25rem;
}

.center-content {
	display: flex;
	justify-content: center;
	align-items: center;
}

.full-screen {
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	position: fixed;
}

::-webkit-scrollbar {
	width: 12px;
	/*height: 10px;*/
}

/* Track */
::-webkit-scrollbar-track {
	background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: gray;
	border: white solid 2px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: white;
	cursor: pointer;
}
