@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	background-color: black;
	color: white;
}

input {
	background-color: white;
	color: black;
}

.center-content {
	display: flex;
	justify-content: center;
	align-items: center;
}

.full-screen {
	width: 100vw;
	height: 100vh;
}
